#root, html, body {
    margin : 0;
    padding : 0;
    height : 100vh;
    box-sizing: border-box;


}

.adviceapp{
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url('./images/654249.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    background-color: whitesmoke;
    width:40%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 10px 10px;

}

.realadv {
    display: flex;
    align-items: center;
    height: 580px;
    font-family: 'Indie Flower', cursive;
}


.button {
    
    position:relative ;
    
    outline:black;
    text-decoration: none;
    text-align: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:crosshair;
    height: 300px;
    width: 210px;
    opacity: 1;
    background-color: #000000;
    border: 5px solid rgba(132, 130, 151, 0.6);
    
    
  }
    
  .button span {
    color: #ffffff;
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 0.7px;
    display: flex
  }

    